---
import { ui } from '../i18n';
const { lang } = Astro.props;
---
<div class="relative">
  <input id="search" placeholder={`${ui[lang].search}…`} class="rounded-xl border px-3 py-1 text-sm"/>
  <script src="/pagefind/pagefind-ui.js" defer></script>
  <link rel="stylesheet" href="/pagefind/pagefind-ui.css" />
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      new PagefindUI({ element: "#search", showSubResults: true });
    });
  </script>
</div>
